@charset "UTF-8";

body{
    background-color: lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
        }
        h1{
            color: black
        }
        h2{
            color: tomato;
        }
        p{
            text-align: justify;
        }