@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-image: linear-gradient(to right, 
     #9D6DED, #736DED,#ED6D9A, #832b4a);
 main{
        background-color: #ffffff;
        padding: 10px;
        margin: auto;
        width:600px;
        border-radius: 5px;
        box-shadow: 5px 5px 25px #81326a;
    }
    h1{
        text-align: center;
        color: #C96FF0;
        text-shadow: 2px 2px 3px #00000038;
        
    }
    h2{
        color: #8b3f5a;
    }
}
p {
    text-align: justify;

}